<div id="container" class="container-fluid">
  <table class="table table-striped">
    <thead class="thead-inverse">
      <tr class="row row-fluid row-header header-row">
        <th class="col-xs-1 id-col-header">
          id
        </th>
        <th class="col-xs-1 image-button-col-header">
          View Image
        </th>
        <th class="col-xs-4 unique-id-col-header">
          Unique ID
        </th>
        <th class="col-xs-4 datetime-col-header">
          Date/Time
        </th>
      </tr>
    </thead>
    <tbody>
    {{#each upload}}
      <tr class="row row-fluid" row-id="{{id}}">
        <td class="col-xs-1 id-col">
          {{id}}
        </td>
        <td class="col-xs-1 image-button-col">
          <input class="btn btn-primary display-image-button" type="button" value="View" linked-id="{{uniqid}}" filename="{{filename}}" />
        </td>
        <td class="col-xs-4 unique-id-col">
          {{uniqid}}
        </td>
        <td class="col-xs-4 datetime-col">
          {{dt}}
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>
  {{> pagination}}
</div>

<div class="overlay-tint" id="overlay-tint">
</div>

<div class="overlay-div" id="overlay">
  <img class="overlay-image" id="overlay-image" />
</div>

<script src="/static/js/file-upload.js"></script>

